@import "../src/components/nav/Header.scss";
@import "../src/pages/admin/AdminDashboard.scss";

.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.form-color{
  position: relative;
  .form-control::before {
    content: "";
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    width: 15px;
    height: 15px;
    background-color: red;
  }
}
