
.ant-tabs-tab:hover {
    background: #e3e3e3;
}

.sub-categories {
    width: 300px;
}

.sub-categories:hover {
    background: #e3e3e3;
}

.tab {
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    white-space: normal;
}

.tab-icon {
    top: 0;
    padding: 20px 0;
    height: 80px;
}

.card-container p {
    margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
    margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 16px;
    background: #fff;
}